#page-title{
    cursor: pointer;
}

.interact-intro p, .interact-user p{
    font-family: 'Prompt', sans-serif;
    font-size: 1.1rem;
    color: rgb(243, 228, 11);
}

.interact-intro button{
    border: white solid 0.05rem;
}
/*Themes*/
.interact-intro #theme-select-one{
    background-image: linear-gradient(to right, #f953c6, #b91d73);
    
}
.interact-intro #theme-select-two{
    background-image: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
    
}
.interact-intro #theme-select-three{
    background-image: linear-gradient(to right, #c31432, #c31432);
    
}
.interact-intro #theme-select-four{
    background-image: linear-gradient(to right, #f12711, #f12711);
    
}
.interact-intro #theme-select-five{
    background-image: linear-gradient(to right, #009FFF, #ec2F4B);
    
}
.interact-intro #theme-select-six{
    background-image: linear-gradient(to right, #FF416C, #FF4B2B);
    
}
.interact-intro #theme-select-seven{
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    
}
.interact-intro #theme-select-eight{
    background-image: linear-gradient(to right, #00B4DB, #0083B0);
    
}


.chat-box{
    background: rgba(31, 31, 31, 0.76);
    border: white solid 1px;
}

.chat-box #user, .chat-box #bot{
    color: white;
}
.chat-box #bot{
    text-align: right;
}
.chat-box #user-text{
    color: orangered;
}

.chat-box #bot-text{
    color: rgb(16, 255, 203);
    text-align: right;
}

.chat-box hr{
    background: white;
}

